footer.footer 
    .footer__row 
        .footer__col 
            .footer__logo 
                img(src="images/svg/logo.svg", alt="")
            .footer__text Множество людей доверяют нам заботу о своих подопечных, потому, что мы - профессионалы своего дела и ответственно относимся к жизни Ваших любимцев.

        .footer__col 
            ul.footer__nav-name Услуги
            li.footer__nav-item Терапия
            li.footer__nav-item Вызов доктора
            li.footer__nav-item Стационар
            li.footer__nav-item Дерматология
            li.footer__nav-item Диагностика

        .footer__col 
            ul.footer__nav-name Компания
            li.footer__nav-item Специалисты
            li.footer__nav-item Отзывы
            li.footer__nav-item Акции
            li.footer__nav-item Контакты
        
        .footer__col
            .footer__contacts.contactsBlock Контакты
            .contactsBlock__cont Наш адрес
            .contactsBlock__cont-text г. Казань, просп. Победы, 39
            .contactsBlock__cont Наша почта
            .contactsBlock__cont-text info-test@gmail.com

            .contactsBlock__social.socialIcon 
            .socialIcon__icon 
                img(src="images/svg/icon-inst.svg", alt="")
            .socialIcon__icon 
                img(src="images/svg/icon-whats.svg", alt="")
            .socialIcon__icon 
                img(src="images/svg/icon-vk.svg", alt="")

