footer.footer 
    .footer__row 
        .footer__col 
            .footer__logo 
                img(src="images/svg/logo-footer.svg", alt="")
            .footer__text Множество людей доверяют нам заботу о своих подопечных, потому, что мы - профессионалы своего дела и ответственно относимся к жизни Ваших любимцев.
        .footer__wrapp
            .footer__col 
                ul.footer__nav-name Услуги
                    li.footer__nav-item 
                        a(href="#") Терапия
                    li.footer__nav-item 
                        a(href="#") Вызов доктора
                    li.footer__nav-item 
                        a(href="#") Стационар
                    li.footer__nav-item 
                        a(href="#") Дерматология
                    li.footer__nav-item 
                        a(href="#") Диагностика

            .footer__col 
                ul.footer__nav-name Компания
                    li.footer__nav-item 
                        a(href="#") Специалисты
                    li.footer__nav-item 
                        a(href="#") Отзывы
                    li.footer__nav-item 
                        a(href="#") Акции
                    li.footer__nav-item 
                        a(href="#") Контакты
            
            .footer__col
                .footer__contacts.contactsBlock Контакты
                .contactsBlock__cont Наш адрес
                .contactsBlock__cont-text г. Казань, просп. Победы, 39
                .contactsBlock__cont Наша почта
                .contactsBlock__cont-text info-test@gmail.com

                .contactsBlock__social.socialIcon 
                    .socialIcon__icon
                        a(href="#") 
                            img(src="images/svg/icon-inst.svg", alt="")
                    .socialIcon__icon 
                        a(href="#")
                            img(src="images/svg/icon_whatsapp.svg", alt="")
                    .socialIcon__icon 
                        a(href="#")
                            img(src="images/svg/icon-vk.svg", alt="")

.popup-fade 
    .popup
        .popup__container 
            img(src="images/svg/icon-close.svg", alt="").popup-close 
            .popup__title  Заполните ваши данные
            form.footer__contactForm.popupForm(action="#") 
                input.popupForm__inputStyle(type="text" placeholder="Ваше имя")
                input.popupForm__inputStyle(type="text" placeholder="Ваш телефон")
                .popupForm__btn.btnMain 
                    a(href="#") Отправить