.headerBlock
  .header
    div(style="position:relative;")
      .navContainer 

          .navWrapper 
            .logo 
              a.logo__brand(href="#") лого

            ul.nav
              li.nav__item
                a(href="#aboutCompany").nav__link Где применяется
              li.nav__item
                a(href="#services").nav__link Цены
              li.nav__item
                a(href="#contacts").nav__link Этапы работы
              li.nav__item
                a(href="#contacts").nav__link Контакты
            
            ul.nav-contact
              li.nav-contact__item
                a(href="tel:+79184487831").nav__link +7 (965) 722-76-76
              li.nav-contact__item
                a(href="tel:+79184487831").nav__link +7 (930) 174-20-20
              li.nav-contact__item.nav-contact__item-whats
                div
                  img(src="images/icon/whatsapp.svg", alt="")
                  a(href="tel:+79184487831").nav__link-whatsapp Написать в WhatsApp
            
          .mobile-wrapp
            #contain 
              .bar1 
              .bar2 
              .bar3

            ul#nav
              li.mobile-nav__item 
                a(href="#servicesBlock").mobile-nav__link Где применяется
              li.mobile-nav__item 
                a(href="#stepWork").mobile-nav__link Цены
              li.mobile-nav__item 
                a(href="#stock").mobile-nav__link Этапы работы
              li.mobile-nav__item 
                a(href="#stock").mobile-nav__link Контакты
            
            ul.nav-contact


