.footer
    padding-bottom 60px
    margin-top 10%
    background-color: #F0FAFF
    border-radius: 180px 180px 0px 0px
    font-family fontSecond-r 
    color fontColor
    &__row 
        position relative
        wrapper()
        display flex
        justify-content: space-between
        padding-top 45px
        sm(flex-wrap, wrap)
    &__col
        width 50%
    &__wrapp
        display flex
        width 100%
        margin-left 10%
        sm(flex-wrap, wrap)
    &__text
        margin-top 25px
        font-size 16px
    &__nav-name
        font-size 24px
        color colorElem 
        font-family fontSecond-sb
    &__nav-item
        margin-top 20px
        font-size 16px
        color fontColor
        font-family fontSecond-r 

.contactsBlock
    font-size 24px
    color colorElem 
    font-family fontSecond-sb
    &__cont
        margin-top 20px
        font-size 18px
        font-family fontSecond-sb

.socialIcon 
    display flex
    position: absolute;
    bottom: 0px;
    &__icon
        margin-right 25px