.mainScreen
    display flex
    height: 81.4rem
    &__titleMain
        margin-top 20rem
        fontSizeH1()
        font-family $ff5
        color #fff
    &__col-left
        background-color: $dark
        padding-bottom 10rem
        &-wrap
            wrapper()
            // max-width: 1500px
            // margin: 0 auto
            display flex
            flex-direction: column
            justify-content: space-between
            padding-left 6%
            padding-right 2rem
            // margin-left 16rem
            lg(padding-left,2rem)
            lg(margin-left,5rem)
            xs(margin-left,0rem)
    &__col-right
        background: url(../images/main-photo.jpg)
        width 60%
        background-repeat: no-repeat
        background-size: cover
        lg(width, 87%)
    &__sub
        margin-top 4.5rem
        color #fff
        font-family $ff 
        font-size 2rem
        font-weight: 400
    &__form
        margin-top 10rem
        border-radius: 8px
        background-color: #fff
        width: calc(70% - 30px);
        height 62px
  .mainScreen__titleMain:before
        margin-bottom 2rem
        display block
        content ""
        width 20rem
        height 2px
        background-color: $colorElem
    
.contactTel
    display flex
    align-items: center
    justify-content: space-around
    height: 100%
    &__number
        font-size 16px
        color #646464
        font-family $ff 
        font-weight: 400
        border: none
    &__button
        background-color $colorElem
        width 19.4rem
        height 4.6rem
        color #fff
        border: none
        border-radius: 6px
        font-size 18px
        font-family $ff3
    
.block 
    margin-top 8%
    wrapper()
    &__col
        width 48%
        sm(width, 100%)
        sm(margin-top, 1rem)
        
    &__col img 
        width 100%
    &__row 
        width 100%
        display flex
        justify-content: space-between
        sm(flex-wrap, wrap)
    &__subTitle
        fontSizeH2()
        font-family $ff5
    &__subTitle:before
        margin-bottom 2rem
        display block
        content ""
        width 20rem
        height 2px
        background-color: $colorElem
    &__text
        margin-top 1.7rem
        font-family $ff 
        font-weight: 400
        fontSizeText()
        line-height: 28px;

.itemList
    &__title 
        fontSizeText()
        font-family $ff
        font-weight: 600
    &__description
        font-size 1.7rem
        line-height: 150%
        font-family $ff

.advantages 
    margin-top 9rem
    wrapper()
    &__list
        border-top: 1px solid $colorElem
        padding-top 2rem
        position relative
        display flex
        align-items: center
        justify-content: space-between
        text-align center
        sm(border-top, none)
        sm(flex-wrap, wrap)
        sm(justify-content, center)

.itemList
    display flex
    flex-direction: column
    align-items: center
    &__title
        margin-top 2.6rem
        font-size 2rem
    &__description
        margin-top 1.7rem
        font-size 1.7rem
        color #424242

.itemList:after
    margin-top -2.5rem
    content ""
    display block
    position: absolute
    width 10px
    height 10px
    border-radius: 50%
    background-color: $colorElem
.itemList:before
    margin-top -3.4rem
    content ""
    display block
    position: absolute
    width 26px
    height 26px
    border-radius: 50%
    border: 1px solid $colorElem
    background-color: #fff

.slider 
    margin-top 16rem
    background-color: $dark
    height: 80rem
    display flex
    &__wrapp 
        wrapper()
        display flex
        align-items: center
    &__button
        display flex
        align-items: center
        justify-content: center
    &__description
        margin-top 3.5rem
        fontSizeText()
        color #fff
        font-family $ff
        Line-height 28px
        font-weight: 400
    &__col
        position relative
        width 50%
    &__title
        margin-bottom 3.5rem
    &__button
        margin-top 5.6rem

.caruselStyle
    &__box
        display flex
        justify-content: space-between
    &__arrow
        position: absolute
        width 110%
        display flex
        margin-left: -5%
        justify-content: space-between
        align-items: center
        height 100%
    &__item
        position relative
    &__titleSlide
        margin-bottom 35px
        bottom 0
        margin auto
        left 0
        right 0
        overflow: auto
        position: absolute
        background-color: #F1F5F8
        height 5rem
        width 29rem
        display flex
        align-items: center
        justify-content: center
        backdrop-filter: blur(10px);
        div 
            fontSizeText()
            font-family $ff

.typesFound 
    margin-top 10rem
    wrapper()
    &__title 
        color #000 !important
        margin-bottom 7rem
    &__title:before
        margin-bottom 2rem
        display block
        content ""
        width 20rem
        height 2px
        background-color: $colorElem
    &__list
        display flex
        justify-content: space-between
        align-items: center
    &__row
        border-bottom 1px solid #000
.itemFoundament
    padding-top 5rem
    border-right: 1px solid #000
    width 600px
    display flex
    flex-direction: column
    align-items: center
    justify-content: center
    // padding-right 130px
    p 
        margin-top 4.4rem
        font-size 20px
        font-family $ff 
        text-align center  
        margin-bottom 6rem

.itemFoundament:nth-child(3n)
    border-right: none
.typesFound__row:nth-child(3n)
    border-bottom: none


.titleBlock
    color #fff
    fontSizeH2()
    font-family: $ff5
    line-height: 65px;


.elem-progressbar 
    position relative
    margin-top 5rem
    width 100%
    height 5px
    background: rgba(255, 255, 255, 0.1)
    z-index 4
    &__roller
        width 20%
        height 5px
        position: absolute
        top 0
        background-color: #fff
        z-index 5

.table
    margin-top 15rem
    &__wrapper
        wrapper()
    &__title
        color #000
        text-align: center 
    &__title:after
        margin-bottom 2rem
        display block
        margin: 0 auto
        content ""
        width 20rem
        height 2px
        background-color: $colorElem
//Таблицы
* {
    box-sizing: border-box;
    font-family: "Avenir", "Helvetica", sans-serif;
}

table 
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    // padding-left: 150px
    // padding-right 150px
table th
    font-size 25px
    font-family $ff4 
    text-transform uppercase
table td 
    font-size 20px
    font-family $ff 
table tr
    height 94px
thead tr    
    background-color: #fff !important
tr:nth-child(2n+1)
    background-color: rgba(23, 27, 43, 0.11)

table th, table td 
    padding: 10px 20px;

table td span {
    background: #eee;
    color: dimgrey;
    display: none;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    left: 0;
}

/* Simple CSS for flexbox table on mobile */
@media(max-width: 800px) {
    table thead {
        left: -9999px;
        position: absolute;
        visibility: hidden;
    }
    table tr {
        border-bottom: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    table td {
        border: 1px solid;
        margin: 0 -1px -1px 0;
        padding-top: 35px;
        position: relative;
        width: 50%;
    }
     table td span {
        display: block;
    }
    tr:nth-child(2n+1){
        background-color: #fff
    }
    table tr{
        height 121px
    }   
}

.table__collapse
     margin-top 5rem

.collapseBtn 
    justify-content: center
    display flex
    align-items: center

    div 
        margin-left 20px
        font-size 20px
        font-family $ff

.stepWork 
    margin-top 15rem
    wrapper()
    &__block
        margin-top 15rem
.stepWork__title
    color #000

.blockListStages 
    &__boxImg
        height 200px
        margin-top -100px
        // position: absolute
        // top -100p
        &-style
            margin-top -180px
    &__item
        position relative
        max-width 314px
        height 233px
        width 100%
        border: 1px solid $colorElem
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between
    &__list 
        width 100%
        display flex
        justify-content: space-between
        align-items: flex-start
    &__title 
        margin-bottom 10px
        font-size 20px
        font-family $ff3
    &__title span 
        color $colorElem
    &__item p
        fontSizeText()
        font-family $ff
        margin-bottom 20px
    &__box
        width 290px
        text-align center
.blockListStages__boxImg div
    height 300px

.photoObject
    margin-top 10rem
    &__wrapper
        wrapper()
    &__list 
        margin-top 20px
        width 100%
        justify-content: space-between
        align-items: center
        display flex
.contact
    margin-top 10rem
    &__wrapper
        wrapper()
    &__row
        display flex
        
    &__title
        color #000 !important
    &__col
        position relative
        width 50%
    &__titleForm
        padding-top 7rem
        fontSizeH2()
        color #fff
        font-family $ff5
    &__subtitleForm
        margin-top 2rem
        fontSizeText()
        color #fff
        font-family $ff
    &__formBox
        margin-left 20%
        display flex
        flex-direction: column
        justify-content: center
        align-items: center
        position relative
        z-index 999


.contact__col-dark:before
    content " "
    width: 50vw;
    height 100%
    position absolute
    top 0
    bottom: 0
    left 0
    right 0
    background-color: $dark
    display block
    z-index 99

.contactForm 
    margin-top 6rem
    text-align center
    &__input
        padding-left 15px
        margin-top 3rem
        max-width 564px
        width 100%
        height 62px
        fontSizeText()
        border-radius: 8px
        color #444444
    &__button
        margin-top 3rem
        margin-bottom 12rem
        
.boxDate
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__text
        display flex
        font-size 20px
        font-family $ff
        &-address
            width 55%
    &__text span
        color #7B7B7B
    &__social 
        display flex
        width: 100px;
        justify-content: space-between;
    &__info
        margin-top 11rem
        height: 92px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size 15px
        color #7B7B7B
    &__info p
        fontSizeText()
    &__infoRow
        margin-top 2.5rem
        display flex
        font-size: 15px
        color #7B7B7B
        div 
            display flex
            margin-left 50px
        div 
            img
                margin-left 10px
    &__copyright
        margin-top 25px
        font-family $ff
        fontSizeText()


