fontColor = #365166
bodyColor = #F8F6EE
backColor = #4A4A4A
fonth1 = calc(54px + (100 - 54) * (100vw - 400px)/(1920 - 400))
fonth2 = calc(20px + (30 - 20) * (100vw - 400px)/(1920 - 400))
fontTitleBlock = calc(30px + (50 - 30) * (100vw - 400px)/(1920 - 400))
fontText = calc(18px + (22 - 18) * (100vw - 400px)/(1920 - 400))
fontFamilyMain =  "New-YorkerC"
fontSecond-r = "Gilroy-regular"
fontSecond-sb = "Gilroy-semibold"
fontSecond-b = "Gilroy-bold"