.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#") Специалисты

    .card_doctor 
        .card_doctor__row 
            .card_doctor__col 
                div 
                    img(src="images/images/doctor8.png", alt="")
            .card_doctor__col 
                .card_doctor__fio <span> Конакова </span> <br> Алина Витальевна
                .card_doctor__specialty Ветеринарный фельдшер
                .card_doctor__title Образование
                .card_doctor__desck Российский университет Дружбы Народов 
                .card_doctor__desck Аграрно технологический институт – ветеринарный факультет
                .card_doctor__title Опыт работы
                .card_doctor__desck 2015-2016  Центр травматологии жив (вет. ассистент)
                .card_doctor__desck 2022  вет клиника Пролапы (вет. ассистент)
                div
                    .col-left__btn.btnMain 
                        a(href="#") Записаться на прием

    .reviews 
        .reviews__row 
                .reviews__col 
                    h2.reviews__title.titleBlock Узнайте, <br> что говорят о нас

                    .reviews__block 
                        .reviews__list 
                            .reviews__item
                                .reviews__name Имя Фамилия
                                .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                                .reviews__button 
                                    a(href="#")  Продолжить чтение
                                    img(src="images/svg/arrow.svg", alt="")
                            .reviews__item
                                .reviews__name Имя Фамилия
                                .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                                .reviews__button 
                                    a(href="#")  Продолжить чтение
                                    img(src="images/svg/arrow.svg", alt="")

                        .reviews__btn.btnMain 
                            a(href="#") Все отзывы
