.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#")  Цены  /
        a(href="reviews.html") Контакты

    .mainScreen__col.col-left.col-left-titleStyle 
        h1.col-left__title Контакты
    
    .contacts 
        .contacts__row
            .contacts__wrapp 
                .contacts__col 
                    .contacts__text Если у вас возник вопрос по работе портала или есть предложения/замечания

                    .contacts__textName Телефон для записи на прием:
                    a(href="#").contacts__link +7(900)888 88 88

                    .contacts__textName Email:
                    a(href="#").contacts__link info@gmail.com

                    .contacts__textName Адрес клиники:
                    .contacts__info г. Москва, ул. Коммунаров д.65

                    .contacts__textName Режим работы:
                    .contacts__info с 9:00 до 21:00

                .contacts__col 
                    .contacts__text Оставьте ваше сообщение, и мы обязательно вам ответим

                    .form 
                        input.form__input(type="text" placeholder="Имя")
                        input.form__input(type="text" placeholder="E-mail")
                        input.form__input.form__input-message(type="text-area" placeholder="Ваше сообщение")

                    .servicesBlock__btn.btnMain 
                        a(href="#") Отправить

        .contacts__row 
            .contacts__map 
                img(src="images/images/map.png", alt="")


