.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#")  Цены  /
        a(href="services.html") Услуги /
        a(href="teraphy.html") Стоматология
    
    .servicesStyle
        .servicesStyle.col-left-titleStyle 
            h1.col-left__title Услуги
        
            .servicesStyle__box    
                h3.servicesStyle__subtitle Стоматология
                .servicesStyle__text Проблемы с ротовой полостью у животных – не редкость. За полостью рта нужно регулярно ухаживать и проводить регулярные стоматологические осмотры, чтобы предотвратить образование зубного камня, гингивита, стоматита и пародонтита. 
                .servicesStyle__text Регулярная чистка зубов животному в домашних условиях с помощью зубных щёток, паст, гелей, лакомств снизит риск появления зубного налета. Если этого не делать, то налет минерализуется и превратится в зубной камень, который можно удалить только в ветеринарной клинике. 
                .servicesStyle__text Если камень уже образовался, то животному потребуется ультразвуковая чистка зубов. Процедура проводится под местным или общим наркозом с использованием ультразвукового скелера, который не повреждает эмаль зубов. Если в процессе чистки необходимо удалять несостоятельные зубы, то проводится местное обезболивание. Перед процедурой рекомендуется пройти дополнительные обследования: ЭХО сердца и анализ крови.
            .col-left__btn.btnMain.popup-open 
                a(href="#") Записаться на прием