section.mainScreen
        .mainScreen__col-left
            .mainScreen__col-left-wrap
                h1.mainScreen__titleMain Фундамент на ж/б сваях под ключ в Твери
                h2.mainScreen__sub Сделаем фундамент под ключ на железобетонных <br> забивных сваях всего за 2 дня 

                .mainScreen__form
                    form(action="#").contactTel
                        input(type="tel" placeholder="+ 7 (______) _______ - ______ - ______").contactTel__number
                        input(type="submit" value="Оставить заявку").contactTel__button

        .mainScreen__col-right

section.block 
    .block__row 
        .block__col 
            img(src="images/img2.jpg", alt="")
        .block__col 
            .block__subTitle Железобетонный фундамент
            .block__text Если на участке преобладает низкоплотный либо насыщенный влагой грунт, почва склонная к горизонтальным сдвигам и пучению, ни один фундамент - ленточный, стобчатый, плитный, не обеспечит зданию той надежности и устойчивости, которую может дать свайное основание. 
            .block__text На фундаменте из ЖБ свай могут возводиться постройки любой этажности - это основной вид фундамента при строительстве кирпичных многоэтажек и тяжелых зданий с ЖБ перекрытиями. 
            .block__text Также фундамент на сваях востребован при строительстве быстровозводимых деревянных зданий из щитовых и каркасных панелей - в таком случае используются металлические винтовые сваи.

.advantages 
    ul.advantages__list 
        li.advantages__item.itemList 
            .itemList__title Быстро
            .itemList__description Установка фундамента <br> занимает 1-2 дня
        li.advantages__item.itemList 
            .itemList__title Долговечно
            .itemList__description Фундамент прослужит <br> вам более 100 лет
        li.advantages__item.itemList 
            .itemList__title Недорого
            .itemList__description Стоимость готового фундамента <br> ниже многих аналогов
        li.advantages__item.itemList 
            .itemList__title Качественно
            .itemList__description Фундамент имеет высокую <br> несущую способность
        li.advantages__item.itemList 
            .itemList__title Выгодно
            .itemList__description Мы предлагаем скидки <br> постояным клиентам


section.slider 
    .slider__wrapp
        .slider__col
            .slider__title.titleBlock Где применяется железобетонный фундамент
            .slider__description Данное решение часто используют при строительстве жилых домов, промышленных, хозяйственных и складских помещений, ангаров, мостовых конструкций, пирсов, оград, опор для трубопроводных систем.
            .slider__description Универсальность основания позволяет строить на нем сооружения из любых материалов – дерева, панелей, кирпича, бетона и т. д.
            .slider__button.contactTel__button
                a(href="#") Оставить заявку
        .slider__col
            .caruselStyle__arrow 
                img(src="images/icon/prev.svg", alt="")
                img(src="images/icon/next.svg", alt="")
            .slider__carusel.caruselStyle 
                .caruselStyle__box
                    .caruselStyle__item 
                        img(src="images/slide1.jpg", alt="")
                        .caruselStyle__titleSlide 
                            div Здания из пеноблоков
                    .caruselStyle__item 
                        img(src="images/slide2.jpg", alt="")
                        .caruselStyle__titleSlide 
                            div Деревянные дома
                .slider__elem.elem-progressbar 
                    .elem-progressbar__roller

section.typesFound 
    .typesFound__wrapper
        .typesFound__title.titleBlock Виды ж/б фундамента
    
    .typesFound__row 
        .typesFound__list 
            .typesFound__item.itemFoundament 
                img(src="images/primer1.png", alt="")
                p Свайное поле фундамента <br> для дома
            .typesFound__item.itemFoundament 
                img(src="images/primer2.png", alt="")
                p Фундамент каркасного дома <br> или бани
            .typesFound__item.itemFoundament 
                img(src="images/primer3.png", alt="")
                p Фундамент для дома <br> или бани на ж/б сваях
    .typesFound__row 
        .typesFound__list 
            .typesFound__item.itemFoundament 
                img(src="images/primer4.png", alt="")
                p Фундамент террасы <br> с крыльцом на ж/б сваях
            .typesFound__item.itemFoundament 
                img(src="images/primer5.png", alt="")
                p Фундамент с обвязкой <br> швеллером для дома
            .typesFound__item.itemFoundament 
                img(src="images/primer6.png", alt="")
                p Фундамент для дома <br> или бани из бруса

section.table 
    .table__wrapper 
        .table__title.titleBlock Цены на ж/б сваи с доставкой и установкой
    
        table 
            thead 
                tr 
                    th Серия
                    th Вес
                    th размер
                    th цена
            tbody 
                tr 
                    <td><span>Серия</span> С30.15</td>
                    <td><span>Вес</span> 175 кг</td>
                    <td><span>размер</span> 150х150х3000 мм</td>
                    <td><span>цена</span> 4500 руб</td>
                tr 
                    <td><span>Серия</span> С30.15</td>
                    <td><span>Вес</span> 175 кг</td>
                    <td><span>размер</span> 150х150х3000 мм</td>
                    <td><span>цена</span> 4500 руб</td>
                tr 
                    <td><span>Серия</span> С30.15</td>
                    <td><span>Вес</span> 175 кг</td>
                    <td><span>размер</span> 150х150х3000 мм</td>
                    <td><span>цена</span> 4500 руб</td>
                .collapse-js
                    tr 
                        <td><span>Серия</span> С30.15</td>
                        <td><span>Вес</span> 175 кг</td>
                        <td><span>размер</span> 150х150х3000 мм</td>
                        <td><span>цена</span> 4500 руб</td>
            
        .table__collapse.collapseBtn 
            img(src="images/icon/arrow-collapse.svg", alt="").collapseBtn
            div Раскрыть весь прайс

                
section.stepWork
    .stepWork__wrapper
        .typesFound__title.titleBlock Этапы сотрудничества

    .stepWork__block.blockListStages 
        .blockListStages__list
            
            .blockListStages__item
                .blockListStages__boxImg
                    img(src="images/step1.png", alt="")
                div
                    .blockListStages__box
                        .blockListStages__title <span>#1</span> Осмотр объекта
                        p Наш специалист выезжает на объект, составляет смету, согласовывает её с вами

            .blockListStages__item
                .blockListStages__boxImg
                    img(src="images/step2.png", alt="")
                div
                    .blockListStages__box
                        .blockListStages__title <span>#2</span> Заключение договора
                        p Заключаем официальный договор, после чего вы оставляете предоплату.

            .blockListStages__item 
                .blockListStages__boxImg.blockListStages__boxImg-style
                    img(src="images/step3.png", alt="")
                div
                    .blockListStages__box
                        .blockListStages__title <span>#3</span> Подготовка
                        p Осуществляем доставку оборудования на объект и делаем разметку свайного поля
            
            
            .blockListStages__item 
                .blockListStages__boxImg
                    img(src="images/step4.png", alt="")
                div
                    .blockListStages__box
                        .blockListStages__title <span>#4</span> Забивка свай
                        p Устанавливаем за 1-2 дня, в зависимости от сложности. Окончательно рассчитваемся
                


section.photoObject 
    .photoObject__wrapper 
        .typesFound__title.titleBlock Фотографии объектов

        .photoObject__list 
            .photoObject__item  
                img(src="images/photo-object1.jpg", alt="")
            .photoObject__item  
                img(src="images/photo-object1.jpg", alt="")
            .photoObject__item  
                img(src="images/photo-object1.jpg", alt="")
        .photoObject__list 
            .photoObject__item  
                img(src="images/photo-object1.jpg", alt="")
            .photoObject__item  
                img(src="images/photo-object1.jpg", alt="")
            .photoObject__item  
                img(src="images/photo-object1.jpg", alt="")






                









            