.mainScreen 
    .mainScreen__row 
        .mainScreen__col.col-left 
            h1.col-left__title Ветеринарная <br> клиника
            .col-left__text Круглосуточная помощь вашим любимцам в клиниках с соверменным оборудованием и 
            .col-left__btn.btnMain 
                a(href="#") Записаться на прием
        .mainScreen__col.col-right 
            .col-right__listAdvantage.listAdvantage
                .listAdvantage__item 
                    img(src="images/svg/pow.svg", alt="") 
                    div Скидка на повторное обращение
                .listAdvantage__item 
                    img(src="images/svg/pow.svg", alt="") 
                    div Новейшее оборудование
                .listAdvantage__item 
                    img(src="images/svg/pow.svg", alt="") 
                    div Отсутствие <br> очередей
.wrapper
    .servicesBlock 
        .servicesBlock__row 
            .servicesBlock__col.col-left 
                h2.servicesBlock__title.titleBlock Услуги <br> нашей клиники
                p.servicesBlock__text.textBlock Основная цель работы нашей ветеринарной клиники «Усы Лисы» — это оказание ветеринарной помощи для поддержания и восстановления здоровья наших домашних питомцев.
                .servicesBlock__btn.btnMain 
                    a(href="#") Подробнее

            .servicesBlock__col 
                .servicesBlock__services 
                    .servicesList 
                        div
                            .servicesList__item
                                .servicesList__wrapp 
                                    img(src="images/svg/icon-services1.svg", alt="") 
                                    .servicesList__title Терапия
                                    .servicesList__text Осмотр, диагностика, лечение,консультации.
                            .servicesList__item
                                .servicesList__wrapp 
                                    img(src="images/svg/icon-services2.svg", alt="") 
                                    .servicesList__title Вакцинация
                                    .servicesList__text Вакцинация  – эффективный способ предупреждения заболеваний инфекционного характера.
                        div
                            .servicesList__item
                                .servicesList__wrapp 
                                    img(src="images/svg/icon-services3.svg", alt="") 
                                    .servicesList__title Хирургия
                                    .servicesList__text Хирургические манипуляции любой сложности.
                            .servicesList__item
                                .servicesList__wrapp 
                                    img(src="images/svg/icon-services4.svg", alt="") 
                                    .servicesList__title Стоматология
                                    .servicesList__text Хирургические манипуляции любой сложности.

                    .servicesList__arrow.arrowSlider 
                        .arrowSlider__wrapp.arrowSlder__wrapp-prev 
                            //- img(src="images/svg/arrow-prev.svg", alt="")
                        .arrowSlider__wrapp.arrowSlder__wrapp-next
                            //- img(src="images/svg/arrow-next.svg", alt="")
                            
    .descriptionBlock
        .descriptionBlock__row 
            .descriptionBlock__col
                div 
                    img(src="images/images/desck_dog.png", alt="")
            .descriptionBlock__col
                h2.descriptionBlock__title.titleBlock Ветеринарная клиника <br> “Усы лисы”
                .descriptionBlock__text Ветеринарная клиника «Усы лисы» оказывает ветеринарную помощь домашним питомцам, а именно профилактическую (вакцинации, дегельминтизации), терапевтическую, хирургическую (от кастраций и стерилизаций до сложных хирургических вмешательств). И не только кошкам и собакам, но также и хомякам, крысам, шиншиллам, морским свинкам, кроликам, змеям, попугаям, канарейкам и диким птицам. В нашей ветклинике на современном уровне проводится УЗИ-диагностика, общеклинические, биохимические анализы, цитологические исследования. Также для оказания более качественной услуги по лечению животного вы можете оставить своего питомца в клинике на стационар.

        .descriptionBlock__row 
            .descriptionBlock__advantList 
                .descriptionBlock__item 
                    img(src="images/svg/icon-star.svg", alt="")
                    .descriptionBlock__icon-text Есть ветеринарная аптека с большим ассортиментом препаратов
                .descriptionBlock__item 
                    img(src="images/svg/icon-star.svg", alt="")
                    .descriptionBlock__icon-text Послеоперационный стационар
                .descriptionBlock__item 
                    img(src="images/svg/icon-star.svg", alt="")
                    .descriptionBlock__icon-text Новое <br> оборудование
                .descriptionBlock__item 
                    img(src="images/svg/icon-star.svg", alt="")
                    .descriptionBlock__icon-text Широкий спектр предлагаемых услуг


        .doctorsBlock
            .doctorsBlock__row 
                .doctorsBlock__col 
                    h2.doctorsBlock__title.titleBlock Познакомьтесь с <br> нашими врачами
                    .doctorsBlock__text Наши сотрудники досконально знают свое дело, увлечены своей профессией и постоянно совершенствуются.
                    .doctorsBlock__btn.btnMain 
                        a(href="card_doctor.html") Все врачи

                .cont
                    .flip-container
                        .flip-container-front
                            div 
                                img(src="images/images/doctor1.png", alt="")
                        .flip-container-back Back Side
                        //- .col_third
                        //-     .hover.panel
                        //-         .front
                        //-             .box1
                        //-                 img(src="images/images/doctor1.png", alt="")
                        //-         .back
                        //-             .doctorInfo 
                        //-                 .doctorInfo__name Имя Фамилия Отчество
                        //-                 .doctorInfo__list
                        //-                     .doctorInfo__item 
                        //-                         img(src="images/svg/check.svg", alt="")
                        //-                         div Ветеринарный фельдшер
                        //-                     .doctorInfo__item 
                        //-                         img(src="images/svg/check.svg", alt="")
                        //-                         div 9 лет опыта работы
                        //-                 .doctorInfo__button 
                        //-                     a(href="#") Подробнее

                    .flip-container
                        .flip-container-front
                            div 
                                img(src="images/images/doctor2.png", alt="")
                        .flip-container-back Back Side

                    .flip-container
                        .flip-container-front
                            div 
                                img(src="images/images/doctor3.png", alt="")
                        .flip-container-back Back Side

                    .flip-container
                        .flip-container-front
                            div 
                                img(src="images/images/doctor4.png", alt="")
                        .flip-container-back Back Side

    .reviews 
        .reviews__row 
            .reviews__col 
                .reviews__block     
                    h2.reviews__title.titleBlock Узнайте, <br> что говорят о нас

                    .reviews__block 
                        .reviews__list 
                            .reviews__item
                                .reviews__name Имя Фамилия
                                .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                                .reviews__button 
                                    a(href="#")  Продолжить чтение
                                    img(src="images/svg/arrow.svg", alt="")
                            .reviews__item
                                .reviews__name Имя Фамилия
                                .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                                .reviews__button 
                                    a(href="#")  Продолжить чтение
                                    img(src="images/svg/arrow.svg", alt="")

                        .reviews__btn.btnMain 
                            a(href="#") Все отзывы

                











                            



                    








                    
                

            
