.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#")  Цены  /
        a(href="laboratory-price.html")  Лабораторные исследования
    
    .pricePage
        h1.col-left__title <span>Лабораторные</span> исследования

    .pricePage__title.titlelaboratory
        .titlelaboratory__item.titlelaboratory__item-style Наименование услуг
        .titlelaboratory__item Единица
        .titlelaboratory__item Цена, руб.
    
    .pricePage__list#laboratory-price
        .pricePage__item
            div
                .pricePage__text АЛЛЕРГОЛОГИЯ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")


        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Непищевая
            .collapsePrice__item 
                .collapsePrice__text Аллергопанель к 20 непищевым аллергенам для кошек (Ig Е)
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 5000 Р

            .collapsePrice__item 
                .collapsePrice__text Аллергопанель к 20 непищевым аллергенам для собак (Ig Е)
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 1000 Р
            
            .pricePage__titleCollapse Пищевая
            .collapsePrice__item 
                .collapsePrice__text Аллергопанель к 4 принесенным кормам
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 2200 Р

            .collapsePrice__item 
                .collapsePrice__text Аллергопанель к 4 принесенным кормам
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 3200 Р
            
            .collapsePrice__item 
                .collapsePrice__text Аллергопанель на  8 кормов/монопродуктов из списка (кошка)
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 1600 Р
            
            .collapsePrice__item 
                .collapsePrice__text Аллергопанель на 8 кормов/монопродуктов из списка (собака)
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 1600 Р
            
            .collapsePrice__item 
                .collapsePrice__text Аллергопанель на монопродукты  к 46 пищевым аллергенам
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 6200 Р
            
            .collapsePrice__item 
                .collapsePrice__text Дополнительно  принесенный корм
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 800 Р
            
            .collapsePrice__item 
                .collapsePrice__text Дополнительный  корм из списка (собака)
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 400 Р
            
            .collapsePrice__item 
                .collapsePrice__text Дополнительный корм из списка (кошка)
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 400 Р

            .collapsePrice__item 
                .collapsePrice__text Монопродукт из списка
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 400 Р
            
            .collapsePrice__item 
                .collapsePrice__text Монопродукт из списка
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 400 Р
            
            .collapsePrice__item 
                .collapsePrice__text Монопродукты 150
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 12000 Р


        .pricePage__item
            div
                .pricePage__text БИОХИМИЯ ВЫПОТЫ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 5000 Р


        .pricePage__item
            div
                .pricePage__text БИОХИМИЯ КРОВИ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 5000 Р



        .pricePage__item
            div
                .pricePage__text ВИТАМИНЫ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 5000 Р
        

        .pricePage__item
            div
                .pricePage__text ГЕМАТОЛОГИЯ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 5000 Р

        
        .pricePage__item
            div
                .pricePage__text ГЕНЕТИКА КОШЕК
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 5000 Р


        .pricePage__item
            div
                .pricePage__text ГЕНЕТИКА СОБАК
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 5000 Р

        
        .pricePage__item
            div
                .pricePage__text ГЕНЕТИЧЕСКИЕ КОМПЛЕКСЫ СОБАК
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 5000 Р


        .pricePage__item
            div
                .pricePage__text ГИСТОЛОГИЯ И ЦИТОЛОГИЯ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 1 исследование
                .collapsePrice__price 5000 Р
        
        .pricePage__item
            div
                .pricePage__text ГОРМОНЫ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Гормоны (профили)
            .collapsePrice__item 
                .collapsePrice__text Гормональный профиль
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р

            .collapsePrice__item 
                .collapsePrice__text Гормональный профиль собака
                .pricePage__col-testTable 5 исследований
                .collapsePrice__price 3500 Р

        
        .pricePage__item
            div
                .pricePage__text ИНФЕКЦИИ И ИНВАЗИИ (ИФА)
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р

        
        .pricePage__item
            div
                .pricePage__text ИНФЕКЦИИ И ИНВАЗИИ (ПЦР)
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р


        .pricePage__item
            div
                .pricePage__text ИНФЕКЦИИ И ИНВАЗИИ (ЭКСПРЕСС)
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р


        .pricePage__item
            div
                .pricePage__text ИССЛЕДОВАНИЕ КАЛА
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р

        
        .pricePage__item
            div
                .pricePage__text КОАГУЛЯЦИОННЫЙ ГЕМОСТАЗ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р

        
        .pricePage__item
            div
                .pricePage__text МИКРОБИОЛОГИЯ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р

        
        .pricePage__item
            div
                .pricePage__text МОЧЕПОЛОВАЯ  СИСТЕМА
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р

        
        .pricePage__item
            div
                .pricePage__text ПАРАЗИТОЛОГИЯ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р

        
        .pricePage__item
            div
                .pricePage__text ПРОФИЛИ КОШКИ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р


        .pricePage__item
            div
                .pricePage__text ПРОФИЛИ СОБАК
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р

        
        .pricePage__item
            div
                .pricePage__text ТОКСИКОЛОГИЯ
                //- .pricePage__col 1 исследование
                .pricePage__arrow  
                    img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .pricePage__titleCollapse Тест
            .collapsePrice__item 
                .collapsePrice__text Тест
                .pricePage__col-testTable 4 исследования
                .collapsePrice__price 2900 Р



                
        
     

            
            
            
         


