.wrapper
    .nav-page-header 
        a(href="#") Главная  /
        a(href="#")  Цены  /
        a(href="#")  Стоимость лечения   
    
    .pricePage
        h1.col-left__title <span>Cтоимость</span> лечения

    .pricePage__list 
        .pricePage__item
            .pricePage__text АМБУЛАТОРНЫЙ ПРИЕМ
            .pricePage__arrow  
                img(src="images/svg/arrow-down.svg", alt="")
        
        .pricePage__item
            .pricePage__text ВИЗУАЛЬНАЯ ДИАГНОСТИКА
            .pricePage__arrow  
                img(src="images/svg/arrow-down.svg", alt="")

        .pricePage__collapse.collapsePrice 
            .collapsePrice__item 
                .collapsePrice__text ЭхоКГ (с допплерографией)
                .collapsePrice__price 2000 Р





