.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#")  Цены  /
        a(href="professionals.html")  Специалисты
    
    .mainScreen__col.col-left.col-left-titleStyle 
        h1.col-left__title Специалисты
    
    .professionals
        .professionals__tab 
            .professionals__btn Все
            .professionals__btn Терапевт
            .professionals__btn Ортопед
            .professionals__btn Хирург
            .professionals__btn Дерматолог
            .professionals__btn Невролог
            .professionals__btn Кардилог
            .professionals__btn Узи специалист
            .professionals__btn Кардилог
            
            
    
    
    .reviews.reviewsProffesionals 
        .reviews__row 
            .reviews__col 
                .reviews__block     
                    h2.reviews__title.titleBlock Узнайте, <br> что говорят о нас

                    .reviews__block 
                        .reviews__list 
                            .reviews__item
                                .reviews__name Имя Фамилия
                                .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                                //- .reviews__button 
                                //-     a(href="#")  Продолжить чтение
                                //-     img(src="images/svg/arrow.svg", alt="")
                            .reviews__item
                                .reviews__name Имя Фамилия
                                .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                                //- .reviews__button 
                                //-     a(href="#")  Продолжить чтение
                                //-     img(src="images/svg/arrow.svg", alt="")

                        .reviews__btn.btnMain 
                            a(href="reviews.html") Все отзывы




