.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#")  Цены  /
        a(href="professionals.html")  Специалисты
    
    .mainScreen__col.col-left.col-left-titleStyle 
        h1.col-left__title Специалисты
    
    .professionals
        .professionals__tab 
            .professionals__btn Все
            .professionals__btn Терапевт
            .professionals__btn Ортопед
            .professionals__btn Хирург
            .professionals__btn Дерматолог
            .professionals__btn Невролог
            .professionals__btn Кардилог
            .professionals__btn Узи специалист
            .professionals__btn Кардилог
            
            

    
    