.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#")  Цены  /
        a(href="reviews.html") Отзывы
    
    .mainScreen__col.col-left.col-left-titleStyle 
        h1.col-left__title Отзывы
    
    
    .reviews 
        .reviews__row 
            .reviews__col 
                .reviews__block 
                    .reviews__list 
                        .reviews__item
                            .reviews__name Имя Фамилия
                            .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                            .reviews__button 
                                a(href="#")  Продолжить чтение
                                img(src="images/svg/arrow.svg", alt="")
                        .reviews__item
                            .reviews__name Имя Фамилия
                            .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                            .reviews__button 
                                a(href="#")  Продолжить чтение
                                img(src="images/svg/arrow.svg", alt="")

                    .reviews__list 
                        .reviews__item
                            .reviews__name Имя Фамилия
                            .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                            .reviews__button 
                                a(href="#")  Продолжить чтение
                                img(src="images/svg/arrow.svg", alt="")
                        .reviews__item
                            .reviews__name Имя Фамилия
                            .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                            .reviews__button 
                                a(href="#")  Продолжить чтение
                                img(src="images/svg/arrow.svg", alt="")

                    .reviews__list 
                        .reviews__item
                            .reviews__name Имя Фамилия
                            .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                            .reviews__button 
                                a(href="#")  Продолжить чтение
                                img(src="images/svg/arrow.svg", alt="")
                        .reviews__item
                            .reviews__name Имя Фамилия
                            .reviews__text Отличная вет. клиника. На рецепшене всегда приятные люди, особенно понравился врач Лизунова Ирина Николаевна: приятный и вежливый человек, который любит животных. После курса лечения, необходимо было отзвониться доктору и определить дальнейшие действия. Девушка по телефону сказала, что врач занята,
                            .reviews__button 
                                a(href="#")  Продолжить чтение
                                img(src="images/svg/arrow.svg", alt="")
        
        .pagination 
            div 
                img(src="images/svg/pagination-arrow-left.svg", alt="")
            div 
                a(href="#").pagination__num.active 1 
                a(href="#").pagination__num 2
                a(href="#").pagination__num 3
            div 
                img(src="images/svg/pagination-arrow-next.svg", alt="")

