.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#")  Цены  /
        a(href="professionals.html") Услуги
    
    .mainScreen__col.col-left.col-left-titleStyle 
        h1.col-left__title Услуги

    .services 
        .services__list 
            .services__item 
                img(src="images/images/services1.png", alt="")
                .services__title Терапия
                .services__price от 470 руб.
                .services__text Осмотр, диагностика, лечение,консультации.
                div
                    .servicesBlock__btn.btnMain 
                        a(href="teraphy.html") Подробнее
            
            .services__item 
                img(src="images/images/services2.png", alt="")
                .services__title Вакцинация
                .services__price от 470 руб.
                .services__text Вакцинация  – эффективный способ предупреждения заболеваний инфекционного характера.
                div
                    .servicesBlock__btn.btnMain 
                        a(href="#") Подробнее

            .services__item 
                img(src="images/images/services3.png", alt="")
                .services__title Хирургия
                .services__price от 470 руб.
                .services__text Хирургические манипуляции любой сложности.
                div
                    .servicesBlock__btn.btnMain 
                        a(href="#") Подробнее

            .services__item 
                img(src="images/images/services4.png", alt="")
                .services__title Стоматология
                .services__price от 470 руб.
                .services__text Хирургические манипуляции любой сложности.
                div
                    .servicesBlock__btn.btnMain 
                        a(href="#") Подробнее


