.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#")  Цены  /
        a(href="services.html") Услуги /
        a(href="teraphy.html") Хирургия и ортопедия
    
    .servicesStyle
        .servicesStyle.col-left-titleStyle 
            h1.col-left__title Услуги
        
            .servicesStyle__box    
                h3.servicesStyle__subtitle Хирургия и ортопедия
                .servicesStyle__text Хирургия и ортопедия – важные направления ветеринарной медицины, которые могут понадобиться любому животному. Наши хирурги выполняют любые хирургические вмешательства любой сложности. Опытные хирурги составляют индивидуальный план для каждого животного и проводят операции с минимальными рисками для жизни.
                .servicesStyle__text Вмешательство наших ортопедов поможет справиться с врожденной и приобретенной патологией опорно-двигательного аппарата – костной и мышечной систем, а также сухожильно-связочных структур.  Наши врачи очень бережно относятся к физическому и психологическому здоровью животного, поэтому стараются свести стресс и болезненные ощущения к минимуму. От качественной и оперативной работы хирурга и ортопеда зависит жизнь домашнего питомца. 
            .col-left__btn.btnMain.popup-open 
                a(href="#") Записаться на прием