.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#")  Цены  /
        a(href="services.html") Услуги /
        a(href="teraphy.html") Терапия
    
    .servicesStyle
        .servicesStyle.col-left-titleStyle 
            h1.col-left__title Услуги
        
            .servicesStyle__box    
                h3.servicesStyle__subtitle Терапия
                .servicesStyle__text Первым этапом при обращении за ветеринарной медицинской помощью является посещение врача-терапевта. 
                .servicesStyle__text На приеме врач-терапевт выслушает жалобы, задаст дополнительные вопросы для составления полного анамнеза, проведет тщательный осмотр животного, который будет включать в себя измерение температуры у животного, пальпацию живота, аускультацию сердца и органов дыхания. При необходимости назначит дополнительные обследования или направит к узкопрофильному специалисту. Врач-терапевт также ответит на все Ваши вопросы, возникшие при первичном обращении в ветеринарную клинику, проконсультирует о содержании питомца и правильном кормлении, расскажет о тактиках лечения и применении препаратов.
            .col-left__btn.btnMain.popup-open 
                a(href="#") Записаться на прием