.wrapper
    .nav-page-header 
        a(href="index.html") Главная  /
        a(href="#")  Цены  /
        a(href="services.html") Услуги /
        a(href="teraphy.html") Вакцинация
    
    .servicesStyle
        .servicesStyle.col-left-titleStyle 
            h1.col-left__title Услуги
        
            .servicesStyle__box    
                h3.servicesStyle__subtitle Вакцинация животных 
                .servicesStyle__text Вакцинирование домашнего животного является обязательным профилактическим мероприятием, необходимое для того, чтобы создать у питомца активный иммунитет, способный противостоять различным инфекциям. Непривитый организм более уязвим к возбудителям инфекций, поэтому пренебрегать вакцинацией не стоит. Без вакцинации не обойтись и в случаях, если Вы планируете выезд за границу или собираетесь представить животное на выставке. Этот профилактический метод позволит обезопасить Вашего питомца от возможного заражения. 
                .servicesStyle__text Вакцинировать животных можно в возрасте от 8 и 12 недель. Важно помнить, что вакцинация допустима только по отношению к здоровым домашним питомцам. Перед процедурой нужно провести дегельминтизацию за 10-14 дней.
            .col-left__btn.btnMain.popup-open 
                a(href="#") Записаться на прием